/backend/node_modules
/frontend/node_modules
/node_modules
/.DS_Store
/bakcend/.DS_Store
/backend/test/.DS_Store
/backend/src/.DS_Store
/backend/.env
/frontend/.env
/backend/src/config
/backend/logs

