@mixin flexCenter {display: flex; justify-content: center; align-items: center;}

.link{color:#fff; text-decoration: none; margin-right:30px;} 

// admin panel

.admin_panel{margin: 20px}

.table_col {@include flexCenter; position:relative;}
.table_row {@include flexCenter; border:1px solid #101010; height:60px; font-size:11px; width:100px; flex-grow:0; flex-shrink:0;}
.delete_button{position:absolute; right:0;}
.example_button{display:block; margin:20px;}
