@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display:flex; align-items: center;}
@mixin flexJustify {display:flex; justify-content: center;}
@mixin absoluteCenter {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}

//COMMON
.ripple_wrap{border-radius:50%; overflow:hidden;}
.sagongsa{position:relative;}
.sagongsa img{width:100%;}
.sagongsa .get_back_button{background:#fff; cursor:pointer; position:absolute; left:20px; top:20px; width:120px; height:80px; border-radius:10px; font-size:20px;}
.sagongsa .get_back_button:hover{background:#e4e4e4;}
.go_button{background:#C07FFC; width:200px; border-radius:5px; height:50px; @include flexCenter(); color:#fff; font-size:16px; }
.go_button:hover{background:#9343dd; }
* {transition:.1s all;}
a{display:block;}

//header
.header{padding:0 20px;}
.auth_sub_header{@include flexAlign; height:36px; justify-content: flex-end;}
.auth_sub_header .logout_button{cursor:pointer; border:none; background:none; color:rgb(126, 128, 130); font-size:14px; padding:12px;}
.auth_sub_header .logout_button:hover{background:#f6f6f6;}
.auth_sub_header a{position:relative; transition:0.3s all; color:rgb(126, 128, 130); font-size:14px; padding:12px;}
.auth_sub_header a:hover{background:#f6f6f6;}
.auth_sub_header a::after{content:''; display:inline-block; height:13px; background:#e4e4e4; width:1px; position:absolute; right:0;}
.auth_sub_header a:last-of-type::after{display:none;}
.auth_sub_header .header_nickname{font-weight:600; font-size:20px; margin:0 20px;}
.header .header_gnb{@include flexAlign; width:100%; height:50px; border-top:1px solid #f6f6f6; border-bottom:1px solid #f6f6f6; justify-content: space-between;}
.header .header_gnb a{color:rgb(24, 26, 28); margin:0 16px; padding:10px; font-weight:600; font-size:18px;}
.header .header_gnb ul{@include flexAlign;}
.header .header_gnb ul li{list-style:none;}
.header .header_gnb ul li a{text-decoration: none;}
.header .searcher_wrap{@include flexAlign;}
.header .main_logo_wrap .main_logo{width:240px;}
.header .searcher {@include flexAlign;height:44px; padding-left:10px; width:500px; border:1px solid rgba(0, 0, 0, 0.1); border-radius:5px;}
.header .searcher.active {border:2px solid rgb(26, 124, 255)}
.header .searcher .search_button{border-radius:50%; position:relative; background:transparent; cursor:pointer; border:none; width:40px; height:40px; @include flexCenter;}
.header .searcher .search_button::before{transition:0.3s all; content:''; width:36px; height:36px; border-radius:50%; opacity:0; background:#e6e6e6; @include absoluteCenter;}
.header .searcher .search_button:hover::before{opacity:0.4}
.header .searcher .search_button .search_icon{position:relative; z-index:1; width:20px; height:20px;}
.header .searcher input.searchInput {transition:all .3s; font-size:15px;flex-grow: 1; border:none; height:30px;}
.header .searcher input.searchInput:focus-visible {outline:none}

//main page
.main_page .hero_wrap{@include flexAlign; overflow: hidden;}
.main_page .hero_wrap .hero_banner{width:70%}
.main_page .hero_wrap .hero_banner .swiper img{width:100%}
.main_page .hero_wrap .user_interface{width:30%;}
.main_page .side_wrap{display:flex}
.main_page .side_left{width:90%}
.main_page .list_best .card{width:200px; height:400px;}
.main_page .list_best .card img{width:100%;}
.main_page .hot_deal{display:flex}
.main_page .hot_deal .hot_banner{display:flex; padding:20px;}
.main_page .hot_deal .hot_banner_img{width:200px;}
.main_page .side_floating_bar{position:sticky; top:45%; height:200px; background:blue}
.user_info{display: flex}
.user_info .profile_img{width:88px; height:88px; border-radius:50%;}
.guide_card_list .guide_card{display:flex}
.guide_card_list .guide_card img{width:200px;}
.developer_card .img_round_wrap {width:100px; height:100px; overflow:hidden; border-radius:50%;}
.developer_card img{width:100%;}
.developer_card .card{display:flex}

// admin panel
.admin_panel{margin: 20px}
.admin_panel .table_col {@include flexCenter; position:relative;}
.admin_panel .table_row {@include flexCenter; border:1px solid #101010; height:60px; font-size:11px; width:100px; flex-grow:0; flex-shrink:0;}
.admin_panel .delete_button{position:absolute; right:0;}
.admin_panel .example_button{display:block; margin:20px;}

//login page
.login_page{padding:20px;}
.login_page form input{display:block;}

